[2016-05-01 19:20] JordanMajd opened #3 "Configure domain dns and cname to work with website"
Configure domain dns and cname to work with website

[2016-05-01 19:20] JordanMajd commented on #3
Donezo!

[2016-05-01 19:20] #3 closed

[2016-05-02 01:46] JordanMajd opened #4 "Horizontal Scroll"
- On any screen resolution there is about 20 pixels of horizontal scroll
- There is about 20 pixels of whitespace right of the website

Confirmed on both Firefox and Chrome.

[2016-05-02 13:28] J-Roel commented on #4
Fixed width issue and prevented x axis scrolling. [ab457b](https://github.com/CodeForFoco/codeforfoco.github.io/commit/ab4574b18c0f974f58411102ff3496cb84901c8c) Confirmed working correctly on Chrome, Firefox, Safari and on iPhone 6.

[2016-05-02 15:15] JordanMajd commented on #4
Awesome!

Thanks

[2016-05-02 15:15] #4 closed

[2016-05-11 02:54] JordanMajd opened #7 "Hamburgers and reformatting."
I broke the hamburgers by removing the span.

Just putting this here to remind me to add them back in.

If for some reason my reformatting gets in the way of a pull request I can revert.

[2016-05-11 22:51] #7 closed

[2016-05-12 05:56] JordanMajd opened #10 "Add instructions to readme on how to add content"
Need to write instructions on how to add blog posts, projects etc.

[2016-05-12 05:56] JordanMajd opened #11 "Add section for partners"
Need to add a section for partners, potentially each partner could be separate markdown file or they could all just be piled into one.

[2016-05-12 05:57] JordanMajd opened #12 "Add section for events"
Need to add a section for events, might want to tie into meetups.com

[2016-05-12 05:59] JordanMajd opened #13 "Add humans.txt"
Add in a `humans.txt` for us to sign our names and leave some messages :smiley:

[2016-05-12 06:00] JordanMajd opened #14 "Support HTTPS"
Right now all assets are `src`'d or `href`'d using `http` so the site doesn't load assets when visited over `https`.

[2016-06-14 03:36] #14 closed

[2016-06-14 03:36] #12 closed

[2016-06-14 03:36] #11 closed

[2016-06-20 19:38] JordanMajd opened #15 "Content Formatting"
Right now there is no sort of margin on paragraphs and headers.

[2016-06-20 19:40] JordanMajd opened #16 "Slack Invite Automation"
One of the first iterations of the site had an input for slack invites. Let's add it back in.

[2016-06-20 19:53] #15 closed

[2016-06-20 19:58] JordanMajd commented on #13
We now have a `humans.txt` be sure to sign your name!

[2016-06-20 19:58] #13 closed

[2016-06-20 19:58] JordanMajd opened #17 "Image sizing"
A lot of the images are stretched or displayed at too large of a size for their resolution.

[2016-10-28 00:59] t3h2mas opened #19 "clickable 'want to get involved'"
Currently only the `a` tags in the `li` tags are clickable in the 'want to get involved' section of the front page. Perhaps being to be able to click the whole `li` section that currently responds to a hover would be more intuitive.

[2016-11-11 01:35] JordanMajd opened #20 "Create list of tasks for beginners to get started on"
Add and label a lot of tiny tasks for onboarders to start editing.

[2016-11-11 01:37] JordanMajd opened #21 "Fix project setup and add instructions to readme"

[2016-11-18 01:12] JordanMajd opened #22 "Use only GitHub supported plugins for jekyll"
Use only github supported plugins so that it is easier for beginners to get started.

This way they dont need to install jekyll, ruby and bundler.

[2016-11-18 01:15] idcrook commented on #10
Also instructions on how to use markdown

[2016-11-18 16:20] idcrook commented on #21
PR #23 updated Contributing section on README

[2016-11-18 16:22] idcrook commented on #22
I plan on testing local and github builds. `_config.yml` and `Gemfile` looked relatively vanilla to me.

Also, can't edit this issue title @JordanMajd so could I get permissions to this repo?

[2016-11-21 15:17] idcrook commented on #21
PR #23 is toward a uniform "Contributing" guidelines. Closing.
If there are things remaining to be done on this, open Issues with more details.

[2016-11-21 15:17] #21 closed

[2016-11-21 18:20] idcrook commented on #22
@JordanMajd #24 can be merged

[2016-11-21 18:51] idcrook commented on #22
I released my updates around the `jekyll` config. The site appears to be live with my changes, and things still look like they are working. 😺

[2016-11-21 18:51] #22 closed

[2016-12-02 02:03] englehorn commented on #16
I added the slack invite on the onboarding page

https://github.com/CodeForFoco/org/blob/master/onboarding.md

@idcrook

[2016-12-02 05:15] idcrook commented on #16
thanks for add this to the github.  I'll try to get updated onto the site tomorrow

[2016-12-04 15:11] idcrook commented on #16
have a clone that points Slack button to signup heroku. PR TBD.

[2016-12-04 15:26] idcrook commented on #19
Fixed in #26

[2016-12-04 15:26] #19 closed

[2016-12-04 15:27] idcrook commented on #16
fixed in #26

[2016-12-04 15:27] #16 closed

[2016-12-04 15:29] idcrook commented on #10
this will be rolled into  "Onboarding" and "Contributing" overhaul effort

[2016-12-04 15:29] #10 closed

[2016-12-05 22:48] JordanMajd commented on #17
Images are not rendered at their exact aspect ratio in several areas.

One such example would be the header image for a post / page as seen
[here](http://codeforfoco.org/code-of-conduct/).

Another example of this would be the preview image for a post on the pages they are listed, as seen [here](http://codeforfoco.org/category/partners/).

Thanks

[2016-12-09 02:19] idcrook opened #28 "homepage "buttons" should be all clickable"
hover color of link text should be more readable too!

[2016-12-09 16:12] idcrook commented on #28
PR #30 addressed this. nice work @rocfri !

[2016-12-09 16:12] #28 closed

[2016-12-09 16:53] idcrook opened #31 "create README.md in Registry posts area"
There is now a link to Registry in onboarding (thanks to @englehorn 😄):
https://github.com/CodeForFoco/codeforfoco.github.io/tree/master/_posts/registry

A `README.md` there would also be helpful. GitHub website renders a `README.md` automatically if it finds one.

The `README.md` would include
 -  instructions on how to use `template.md` (very useful! thanks @itorain ! 😸 )
 - fork process and Pul

[2016-12-15 17:40] idcrook commented on #20
Could there be a Label added corresponding to those as well?

Here is the current list of  Labels
![screenshot 2016-12-15 10 39 19](https://cloud.githubusercontent.com/assets/461806/21235135/c75daf82-c2b2-11e6-81ba-89506662b4d6.png)

[2016-12-15 19:23] JordanMajd commented on #20
Absolutely!

[2016-12-16 00:37] idcrook opened #32 "Update "Sponsor" info for 2017"
Logo and description for FVC Americas (the new tenant in the building where we do our meetups)

[2016-12-17 01:46] #31 closed

[2017-01-17 17:37] JordanMajd opened #35 "Add Donations Page"
Add a page with information on why and how to donate.

[2017-01-17 17:38] JordanMajd commented on #32
Remove Galvanize sponsorship / partner.

[2017-01-17 17:39] JordanMajd opened #36 "Idea submission form -- backend"
EDIT: breaking this out into separate front/back end issues.  -Jason

Add an idea submission form to the website which emails out the team or sends a message to slack.

"Hey you've got an idea to make Fort Collins better? Let us know your thoughts."

[2017-01-17 17:40] JordanMajd opened #37 "Investigate other Code for * websites."
Investigate other Code for websites for ideas on how we can improve our own.

Some starting points:

- Code for Boulder
- Code for Denver

[2017-01-19 21:37] JordanMajd opened #38 "Update description of Code for Fort Collins"
The current description is nebulous. It does not describe who we are and what we do. We should update the site to have a better description.

[2017-01-20 02:51] abettermap opened #42 "Allow Member/User Photos"
In the `_registry`.

Maybe permit gravatars?

[2017-01-27 01:17] abettermap opened #44 "CFFC logo as favicon"
Because why not.

Super low priority...

[2017-01-27 02:12] JordanMajd opened #45 "update installation instructions"
- os x install homebrew
- install ruby using homebrew
- add rubygems to your path
- install bundler
- run bundler in repo

[2017-01-29 01:29] abettermap opened #46 "Nav menu on smaller screens"
Currently the navigation menu disappears below `1000px`. Need something for mobile users...

[2017-01-29 01:39] abettermap commented on #36
Instead of email or Slack, what if the output could be a GitHub issue or a comment on https://github.com/CodeForFoco/org/issues/17? I guess it would require an account to post as, but just a thought.

[2017-01-29 01:42] abettermap opened #47 "Add Sponsor Page"
Add a page with information on different sponsorship opportunities (formerly part of #35)

[2017-01-29 01:46] abettermap commented on #35
@JordanMajd I split this out into two issues.

Donations button currently links directly to the Code For America site. Are you thinking of having an intermediate landing page in between to explain why/how to donate, or are we just going to run with the direct link?

[2017-01-30 16:52] JordanMajd commented on #36
@abettermap I really like that idea.

Email is simple to implement, we could just use [FormSpree](https://formspree.io/).

Slack can be simple if we use a tool like [this](https://stacktodo.com/tools/form). Alternatively, building our own integration isn't too difficult, it just would require a backend API to securely hold our Slack API keys.

Your Github suggestion is my favorite. The first solut

[2017-01-30 16:55] JordanMajd commented on #35
The donation button looks great, but I think having an intermediate page might be useful as well.

[2017-01-31 01:53] abettermap commented on #35
Agreed. Like we have with FCBC. Nice to be coaxed into something with an explanation rather than click >> GIVE US MONEY

[2017-01-31 01:55] abettermap commented on #36
Yayuh, I like it. Let's set this up Thursday at the meeting if we have time.

[2017-02-03 01:48] DanLaRoche opened #50 "Mismatch with partners pictures dimensions"
The partners pictures are sized differently on the main page and the individual partners pages. OpenCity is stretched on main, fine on partner. City of Foco is fine on main, stretched on foco.

[2017-02-03 02:16] DanLaRoche opened #58 "Flow of partners logo out of whack"
Main page partners logos flow weirdly on 1366 x 768 screen (actually 1080p with 150% dpi scale on windows). I think we should resize to fit at least 3 logos side to side when viewed with such a standard page size as ~720p.

[2017-02-03 02:22] #46 closed

[2017-02-03 02:44] JordanMajd opened #59 "Standardize code syntax"
Add a dotfile that tells all editors to style the code the same and use the same line endings so that beautifies don't bleep everything up.

EDIT (Jason): let's include a few things:
- ~~editorconfig~~ added in https://github.com/CodeForFoco/codeforfoco.github.io/commit/0104d7eb805216b55029cf68793fbb8c92a5aed4
- ~~csscomb~~ added in https://github.com/CodeForFoco/codeforfoco.github.io/commit/4d0fc

[2017-02-03 02:51] abettermap commented on #42
This was already a thing. No commit needed to fix.

[2017-02-03 02:51] #42 closed

[2017-02-04 19:18] abettermap commented on #59
@JordanMajd we actually already had an `.editorconfig` but no instructions about it so I added some links in README along with `.csscomb.json` and `.jsbeautifyrc` files. Have a skim in [this branch](https://github.com/CodeForFoco/codeforfoco.github.io/tree/code-standards) if you get a chance and let me know if that approach and the **Code Standards** section are the right direction to take.

I thi

[2017-02-05 00:13] afibarra commented on #36
Hello,

I did a little research on this, and, according to me, it is not possible to use the GitHub API because for that, we need to use a library like Octokit (https://github.com/octokit/octokit.rb) which is the library suggested by GitHub to use with Ruby (https://developer.github.com/libraries/).

Using this library means that we should be able to execute ruby code on the server, and that is no

[2017-02-05 02:45] abettermap commented on #36
Ah, bummer. Would this be an option? https://coderwall.com/p/8lq1ba/how-to-create-a-contact-form-for-a-github-pages-served-jekyll-website

Also, do you have a link to FormBot? I only found a Chrome extension which looks like it automates form populating rather than building: https://chrome.google.com/webstore/detail/formbot/ilnjaomgpkbmapjachcppgabkidbmnjc?hl=en

[2017-02-05 03:07] afibarra commented on #36
Hello,

This is the link: [https://stacktodo.com/tools/form](https://stacktodo.com/tools/form)

[2017-02-05 03:21] abettermap commented on #36
Yeah definitely not what I was looking at haha. That looks promising so I'd say it's certainly an option, assuming the Heroku thing from my link isn't worth it or isn't feasible (it does sound kinda overkill to me).

A similar option would be Google Forms, which would let us store the ideas in a spreadsheet. I guess it depends what we plan on doing with the ideas later. Slack = better for discussi

[2017-02-05 05:13] afibarra commented on #36
Using Heroku sound little overkill indeed but I think it is the only way to execute code.

Maybe, based on that article, then is possible to call GitHub API from Heroku and be able to create issues / comments from the website...

[2017-02-10 02:21] JordanMajd commented on #36
We have a free tier Heroku instance running Node app for our Slack invites.

- [Repo](https://github.com/CodeForFoco/slack-invite-automation)
- [Live Site](https://codeforfocoslack.herokuapp.com/)

We could add another API endpoint to handle idea submissions.

Might be overkill but could be fun.

[2017-02-10 03:03] JordanMajd commented on #36
If we do go this route we could set up a `CORs` policy for the heroku domain and the `node-github` library.

- [cors](https://www.npmjs.com/package/cors)
- [node-github](https://github.com/mikedeboer/node-github)

[2017-02-11 19:20] abettermap commented on #36
@afibarra Sounds like we are going to try the Heroku thing. Do you want me to assign this issue to you?

@JordanMajd Whoever is doing this would need Heroku credentials, yeah?

[2017-02-11 20:25] #44 closed

[2017-02-12 06:24] afibarra commented on #36
@abettermap @JordanMajd Yes, assign it to me

Actually, I'm think I finished it. But it is a java application, not a Node.js one. I don't have much time to learn Node.js :). Even though, it took me some time to figure it out how to deploy a Java EE app in Heroku, because Heroku only runs Java SE applications.

I tested the app against one of my public GitHub repositories.

I tested using curl as f

[2017-02-12 16:05] abettermap commented on #36
Nice work! We will want to include a label of some sort as well, probably **project idea**, and maybe use some kind of comment template to present the info neatly (including the idea's category or other meta stuff). We might also need a way to contact the submitter without exposing their email publicly, assuming they want to be contacted.

I will defer to @JordanMajd for the Heroku stuff and repo

[2017-02-17 01:08] JordanMajd commented on #47
Should have a paragraph which summarizes what we provide in return for sponsorship and how to get in touch.

[2017-02-17 01:11] JordanMajd commented on #36
@afibarra good work!

I'll look into what it takes to transfer the repository and the heroku instance.

[2017-02-17 01:15] JordanMajd commented on #32
Up to date for now.

[2017-02-17 01:15] #32 closed

[2017-02-17 01:23] DanLaRoche commented on #35
Proposed text for donate page:
[donateplease.docx](https://github.com/CodeForFoco/codeforfoco.github.io/files/782000/donateplease.docx)

[2017-02-17 01:27] JordanMajd commented on #17
See #58 and #50

[2017-02-17 02:27] JordanMajd commented on #36
The issue submission backened is done thanks to @afibarra and can be found [here](https://github.com/CodeForFoco/codeforfocoissues).

The next steps are:

1. Create gh account to use as submission bot
1. Deploy backend to heroku
1. Create front end form on website.

[2017-02-19 05:08] abettermap commented on #59
@JordanMajd Yo. It's been a fortnight, friend-o. 😉  Shoot me a response when you get a chance to read my last comment.

[2017-02-19 17:16] abettermap commented on #35
That looks good. I'll make some tweaks and bring it into a page.

[2017-02-19 17:20] abettermap commented on #58
@DanLaRoche

I made a bunch of changes recently and may have fixed this indirectly. If it looks OK in the website now, we can close this.

I also grabbed the actual Mesh logo from their Facebook page, so if that's OK then we can use that instead of the placeholder you created.

[2017-02-19 17:24] abettermap opened #68 "Idea submission form -- front end"
The front half of #36

### Required Fields
- name
- email
- idea summary/title (will become title of GH issue)
- idea description (will become body of GH issue)

### Also Need
- note/disclaimer indicating that submitter will be contacted

[2017-02-19 17:33] abettermap commented on #17
Added `workflow` label in the hopes that we can automate image optimization somehow.

[2017-02-19 17:36] abettermap commented on #59
Added `csscomb` in https://github.com/CodeForFoco/codeforfoco.github.io/commit/4d0fce5c0e680f8cb8dfe13cf7ac204556d37fe1

[2017-02-19 21:47] abettermap commented on #35
My mistake, looks like it's already in https://github.com/CodeForFoco/codeforfoco.github.io/blob/master/_posts/organization/2017-02-16-donate.md

[2017-02-20 04:14] #17 closed

[2017-02-20 04:16] abettermap commented on #58
Closed by one of the 75 commits in #67 😮

[2017-02-20 04:16] #58 closed

[2017-02-20 04:46] abettermap commented on #68
Here's a start:

https://github.com/CodeForFoco/codeforfoco.github.io/commit/8b32e5315e63c2e0fbc5eee2557f2dce66bc0a8e

[2017-02-24 00:37] itorain commented on #20
What else needs to be done for this?

[2017-02-27 01:10] #50 closed

[2017-03-10 02:03] #35 closed

[2017-05-05 01:26] jensy opened #84 "Decrease header sizes"
Show more information above the fold on desktop.

[2017-05-05 01:26] jensy commented on #84
Across all pages

[2017-05-05 01:56] redisforlosers opened #86 "Allow Tags in Projects"
i.e. programming languages or technologies used, the industry the project serves (government, transportation, non profit, etc).

[2017-05-05 01:58] #84 closed

[2017-05-05 01:58] redisforlosers opened #87 "Create Completed Projects Page"

[2017-05-05 01:58] abettermap opened #88 "Show current projects"
What are we working on RIGHT NOW? Ideally have a page or post for each, but at a minimum just link to the corresponding GitHub repo for now.

- Project summary
- Who is working on it (href to member page)
- Tags (see #86)

[2017-05-05 01:59] redisforlosers opened #89 "Link to GitHub Issues / Ideas"

[2017-05-05 02:01] redisforlosers opened #90 "Add upcoming events section"
- [ ] embed [MeetUp Widget](https://codeforfoco.slack.com/archives/C3XB56E3A/p1493949991085374) below header area but above the fold

[2017-05-05 02:09] abettermap commented on #89
If we tag all of our ideas with `Project Idea`, we can link directly to the whole list pretty easily: https://github.com/CodeForFoco/org/issues?q=is%3Aissue+is%3Aopen+label%3A%22Project+Idea%22

[2017-05-05 02:44] abettermap opened #91 "Create site architecture diagram"
Sitemap/whatever to describe the site layout. Makes it easier to structure code and links, etc.

- [ ] screenshot in readme
- [ ] link to original in readme

[2017-05-06 01:46] redisforlosers commented on #89
great idea!

On Thu, May 4, 2017 at 8:09 PM, Jason Lampel <notifications@github.com>
wrote:

[2017-05-13 04:42] JordanMajd commented on #36
Closed.

The backend can be found [here](https://github.com/CodeForFoco/codeforfocoissues). It still needs to be deployed but that is an issue tracked in it's own repo.

[2017-05-13 04:42] #36 closed

[2017-05-13 04:43] JordanMajd commented on #87
Do we need to differentiate completed and in progress projects? Or can this and #88 be merged?

[2017-05-13 04:44] JordanMajd commented on #86
Add tags to projects on github or on our website?

If on github, perhaps this issue should be moved to the org repo.

[2017-05-13 04:46] JordanMajd commented on #20
Looks like we have plenty of tasks. If you think of anything else that needs added then be sure to create an issue and tag it.

[2017-05-13 04:46] #20 closed

[2017-05-13 04:46] #37 closed

[2017-05-13 04:47] JordanMajd commented on #45
Updated instructions, not exactly the same as this describes but I think it is adequate for now.

[2017-05-13 04:47] #45 closed

[2017-05-13 04:53] JordanMajd commented on #91
Just to clarify, you are looking for an actual diagram and not the [sitemap.xml](http://codeforfoco.org/sitemap.xml)?

[2017-05-13 16:47] abettermap commented on #91
Yep. Even just a whiteboard sketch or google doc or something.

A lot of the issues and suggestions for the site involve new content and where to put it, so I think an outline would be useful.

I should be able to work on this today and get some feedback from you and the group when I'm done.

[2017-05-13 16:54] JordanMajd commented on #91
:thumbsup:

[2017-05-13 17:21] abettermap commented on #87
Maybe they don't need to necessarily be different pages/templates, but it would be nice to  differentiate them by status somehow so we could display them that way in the portfolio.

Open to suggestions though. Thoughts?

[2017-05-13 17:28] abettermap commented on #86
We were thinking website but GH tags would be good too (looks like some have been added for several projects).

Super low priority I think, more pressing issues first, so maybe backburner for now.

[2017-05-13 17:36] abettermap opened #95 "Bike Coop project description"
Add summary/description to FCBC project page: https://github.com/CodeForFoco/codeforfoco.github.io/blob/master/_posts/projects/2017-05-11-fort-collins-bike-coop.md

For projects, could probably have a one-line summary field in addition to the more detailed primary content. I think Wordpress calls it "the excerpt".

[2017-05-13 17:46] abettermap opened #96 "Create project page template"
Suggested:

---
layout: post
title:  "project title"
date:   2017-05-12 12:00:00 -0700
image: projects/project-image.svg
categories: projects
status: in-progress or complete
tech-tags: php, wordpress, website, app, responsive, etc.
industry-tags: transportation, recycling, crime, whatever
---

## Customer description
Who they are, what they do.

## Project summary
What we did/are doing.

## Nerd s

[2017-05-13 20:01] abettermap commented on #91
Illegible refrigerator draft: ✅. On to high-tech...

![img_0688](https://cloud.githubusercontent.com/assets/4974087/26028791/96dbfc54-37e4-11e7-8724-86125d5347dd.JPG)

[2017-05-13 23:25] abettermap commented on #91
Ok gave it a shot with Lucidchart. Read-only published version is [here](https://www.lucidchart.com/documents/view/eb916f30-ba86-417d-bb4a-999b6c558274) and I will post the edit link in Slack if anyone wants to add comments, notes, or edits.

[2017-05-13 23:26] abettermap commented on #91
Great Yoast article on site structure: https://yoast.com/site-structure-seo/

[2017-05-22 03:44] abettermap commented on #96
Good start for Bike Co-op, can base the template off that: https://github.com/CodeForFoco/codeforfoco.github.io/commit/6790fe16870f93625ab9e02c9ccea915e23de165

[2017-05-22 03:47] abettermap commented on #88
Good start on projects page template. Needs to DRY out but otherwise a functional base to start from: https://github.com/CodeForFoco/codeforfoco.github.io/commit/49882bb2a88bfc8f4d2394ce076a4727127aab24

[2017-05-22 03:55] abettermap commented on #86
Having fun playing around with this Jekyll business, it's really flexible.

![img_0693](https://cloud.githubusercontent.com/assets/4974087/26291972/a257504c-3e6f-11e7-9b7b-259e21b029bb.PNG)

If we wanted to go even more meta, could consolidate unique tag values across all project pages and members posts, then into a table:

![img_0691](https://cloud.githubusercontent.com/assets/4974087/26292002/da

[2017-06-23 22:30] deidyomega opened #102 "Initial Build of Project"
Following guide in readme.md I ran the final command

    bundle exec jekyll serve

and the error I got was:

    Liquid Exception: no implicit conversion of Fixnum into String in /_layouts/default.html

I checked default.html, and there is no number => string conversion, thus it must be in a sub file.  As I've never used jekyll, I could use some help on this one.

[2017-06-24 22:38] abettermap opened #103 "Allow lists in registry posts"
Jekyll ain't having it: https://github.com/CodeForFoco/codeforfoco.github.io/pull/101#issue-238023331

[2017-06-25 00:23] abettermap commented on #102
I'm not very familiar with Jekyll myself but someone else had an [identical error](https://github.com/Shopify/liquid/issues/904).

Which versions of Jekyll and Liquid do you have?

[code]

I had `3.3.1` and `3.0.6`, respectively, without errors, and it is also working for me using Jekyll `3.4.4`. Try this and see if it fixes it for you:

[code]

[2017-06-25 03:33] abettermap commented on #103
@deidyomega

Ok how's this look?

![screen shot 2017-06-24 at 8 53 50 pm](https://user-images.githubusercontent.com/4974087/27513460-b8c4ccbe-5923-11e7-81c7-953a98a40288.jpg)

The `<ul>` items were definitely present already in the template, but the site-wide `<ul>` styling was a little nuclear. Feel free to mess with [that branch](https://github.com/CodeForFoco/codeforfoco.github.io/tree/103.regi

[2017-06-25 03:58] abettermap commented on #103
Got it: the date! Your registry post date was July and for whatever reason, Jekyll would not render a future date. Talk about a tricky one to troubleshoot haha

[2017-06-26 13:36] deidyomega commented on #103
Whoops... Good catch... Looks good from here.  Sorry for the trouble!

[2017-06-27 18:52] JordanMajd commented on #96
Looks pretty solid overall.

Customer description may not be necessary as not all projects will have customers. We could either include that info in the project summary or just have it be an optional field.

[2017-06-27 18:59] JordanMajd commented on #90
Let's put relevant information on github, so people don't need access to our slack for visibility.

[Meetup's Widget Foundry](https://www.meetup.com/meetup_api/foundry/) can be used to create a widget for the group to display upcoming events. The standard one is a simple iFrame, however you can generate editable ones.

[code]

[2017-06-27 19:32] deidyomega commented on #102
Hmm, that works!

`gem list | grep jekyll`
* jekyll (3.5.0)
* jekyll-autoprefixer (1.0.1)
* jekyll-feed (0.9.2)
* jekyll-gist (1.4.1)
* jekyll-mentions (1.2.0)
* jekyll-paginate (1.1.0)
* jekyll-sass-converter (1.5.0)
* jekyll-sitemap (1.1.1)
* jekyll-watch (1.5.0)

`gem list | grep liquid`
* liquid (4.0.0)

[2017-06-27 19:59] deidyomega commented on #103
As I can't get that branch to load (liquid issues), there's no way for me to test it.  But your screenshot works for me.

[2017-06-27 20:06] deidyomega commented on #102
So on a final note:

I'd either recommend creating a PR for whatever magic you did to make this work *OR* updating the gemfile to this:

`gem 'jekyll', ">=3.0", "<=3.4.4"`

Since the problem seems to come from too high a jekyll (https://github.com/Shopify/liquid/issues/904)

[2017-06-30 01:23] JordanMajd commented on #102
Fixed with #108

[2017-06-30 01:23] #102 closed

[2017-06-30 01:27] abettermap commented on #103
All set now, `master` has the liquid update.

[2017-06-30 01:35] #59 closed

[2017-06-30 02:04] JordanMajd commented on #91
This looks great and is something that is definitely needed. The site has been improving with time, but still leaves a lot to be desired. The site is not organized, lacks content and isn't the greatest user experience. A chart like this will help solve many of those problems and provide a model to work towards.

I like how the categories are arranged by "thought", i.e. "Get Involved".

We should a

[2017-06-30 02:04] abettermap opened #111 "Improve SEO"
Not a mega concern, but it would be nice to show up in first page of Google results for searches like `fort collins volunteer coding`. I got to page 6 and still didn't see the site using that criteria.

Not an expert, but things that help SEO:
1. Good site architecture (well-structured site outline, internal links, URL stuff, etc.)
1. Keywords within content
1. Meta- titles, meta tags
1. ???

[2017-06-30 02:08] JordanMajd opened #112 "Set header image for projects to project screenshot"
Every category has the same header image. The project category would look much better if we replaced the header image with a screenshot or picture related to the project.

[2017-06-30 02:12] #103 closed

[2017-06-30 02:29] JordanMajd opened #114 "Add minutes section and template"
- [ ] Migrate minutes from Google docs to our website
- [ ] Create a template file for minutes for that post directory.
- [ ] Add minutes to website chart, see #91.

Google forms are painful to use, limit collaboration, who can view, edit and take minutes.

Github and git allows for people to collaborate on minutes. Project leaders can fill in the minutes for their current project. It enables anyb

[2017-07-02 18:58] abettermap commented on #87
Closing this as #88 is close enough and #96 will likely include some meta about completion date.

[2017-07-02 18:58] #87 closed

[2017-07-03 15:25] #91 closed

[2017-07-03 15:26] #96 closed

[2017-07-06 16:33] JordanMajd commented on #38
Updating our description should help with SEO #111

[2017-07-06 16:34] JordanMajd commented on #111
Completing #38 Should also help improve SEO.

[2017-07-06 16:58] JordanMajd opened #118 "Add Donor List"
Add a list of donors to the donations page.

[2017-07-14 02:16] davidbhayes commented on #114
Believe this is done. If you follow the link in the footer of the site, you'll be taken to the minutes page and the new procedure for taking minutes. I wasn't sure exactly what if anything I needed to do re: #91, but I didn't add a link to the header as I think @JordanMajd and I didn't think it merited it and weren't quite how to use @abettermap's chart, if it affected what we do with respect to l

[2017-07-14 02:16] #114 closed

[2017-07-14 17:51] abettermap commented on #114
I forgot to include minutes in the chart until later, hadn't thought too hard about where to fit it in, but what you've done works great for now. Re-structuring the site to match the chart will take a bit more thought anyway.

[2017-07-28 02:00] davidbhayes commented on #38
I've changed `index.html` and `_config.yml` (this commit is above) to be a little more concise and clear. Here's the version I quit with:

Feedback/tweaks welcome from @JordanMajd @abettermap and anyone else interested.

[2017-07-28 02:11] #95 closed

[2017-07-28 03:54] davidbhayes commented on #90
FYI: @abettermap has a pretty good slightly-more-configurable-than-an-iframe iteration of this somewhat built

[2017-07-29 16:26] abettermap commented on #38
Looks good. How about this for first paragraph?

_Code for Fort Collins is a volunteer organization who develops technology-driven solutions to challenges faced by charities, government agencies, and other groups within the city._

[2017-07-30 22:29] abettermap opened #124 "Improve home page and nav responsiveness"
The title was pretty snug at certain screen sizes even with `FoCo` abbreviated, and much more so now with it spelled out in full:

![image](https://user-images.githubusercontent.com/4974087/28757613-e9afe570-7543-11e7-9d50-167c087403d6.png)

Just need to drop the font size and line-height down a bit on a breakpoint or two.

[2017-07-31 03:38] abettermap commented on #90
@davidbhayes

I made some progress on the `<iframe>` alternative this weekend. Maybe not the best Jekyll approach, but it's in there ([branch](https://github.com/CodeForFoco/codeforfoco.github.io/tree/90/upcoming-events)). Needs some polishing obviously, then I'll PR, but so far I've got it on home page:

![image](https://user-images.githubusercontent.com/4974087/28761678-a409efa0-756d-11e7-85d5-8

[2017-07-31 14:55] davidbhayes commented on #90
Looks great! Unimaginably more native than an iframe.

My biggest thought looking at it is that the labels and the dates don't form clear pairs when I look at it. Borders and/or more spacing between the non-related things would help. But otherwise I think it's basically merge-able. (Though I admit I didn't thoroughly audit all the commits. ;p)

[2017-08-04 00:13] JordanMajd commented on #90
Good work, look forward to the PR

[2017-08-04 00:52] abettermap commented on #90
@davidbhayes

I didn't really touch the styling yet, hopefully have something tonight.

[2017-08-12 07:51] JordanMajd opened #132 "Investigate build issues."
Builds worked fine up until the merge of last week's minutes. We reverted to the last built commit and the repository still won't build.

[2017-08-12 21:42] abettermap commented on #132
The important part of GH's response to David's support request:

[2017-08-12 21:45] abettermap commented on #132
I made the change. I'll leave this open for a sec until we know if build worked.

[2017-08-12 21:46] abettermap commented on #132
Happy green checkmark so i'm calling it good:

![image](https://user-images.githubusercontent.com/4974087/29244464-63e5dd78-7f75-11e7-9454-5761e52e05dc.png)

[2017-08-12 21:46] #132 closed

[2017-08-12 22:00] abettermap commented on #132
Ok did some minor triage and pushed things up. I think we have all the commits we need again but i'll hang on to my backup branch for a bit. Build succeeded after push, but holler if any problems.

[2017-08-12 22:03] abettermap opened #133 "Minutes for August 10"
Anybody remember the highlights? 🤔

[2017-08-14 01:14] abettermap opened #135 "Add solar-scorecard project page"
Originally part of https://github.com/CodeForFoco/solar-scorecard/issues/26

Follow instructions here: https://github.com/CodeForFoco/codeforfoco.github.io/blob/master/_posts/projects/README.md

[2017-08-18 01:10] #90 closed

[2017-08-18 01:14] #38 closed

[2017-09-08 01:09] ijskor opened #137 "Copy Style Sheet to Solar-Scorecard Site"
Would like to copy similar styling for the solar-scorecard portion of the website. (i.e Background, Scroll Effects, Navigation Bar, etc.)

[2017-09-08 01:14] #137 closed

[2017-09-09 22:19] abettermap commented on #124
Several things are truncated or not looking great on tablet-ish:

![image](https://user-images.githubusercontent.com/4974087/30244412-a9a6c2ee-957a-11e7-87b1-14f460b26734.png)

[2017-09-09 22:51] #88 closed

[2017-09-09 22:51] #86 closed

[2017-09-09 22:51] #135 closed

[2017-09-09 22:54] abettermap commented on #112
This is a really cool idea. Just to clarify, though, it refers to the image behind the transparent `hero` section. I was thinking it was the icon/logo for some reason. Derrrp

[2017-09-09 22:58] abettermap commented on #112
Like so, but we'd need to rethink the page icon a little:

![image](https://user-images.githubusercontent.com/4974087/30244670-09cf231e-9580-11e7-9148-6d3924292f73.png)

[2017-09-09 23:03] abettermap commented on #133
...28 days later: still no.

Closing 'er downskis...

[2017-09-09 23:03] #133 closed

[2017-09-30 16:24] abettermap commented on #111
I don't know if it's a fact but I have heard that Google favors secure sites. Looks like we can get https for free:  https://css-tricks.com/switching-site-https-shoestring-budget/

Either way, SSL is never a bad idea, especially if we implement a project idea form directly in the site.

[2017-09-30 16:25] abettermap commented on #111
Same goes for Solar Scorecard as well.

[2017-10-13 00:45] JordanMajd commented on #112
Looks pretty solid. I think both the hero section / icon logo works

[2017-10-19 17:33] JordanMajd opened #143 "Remove Mesh from partners list."
Remove Mesh from partners.

[2017-10-19 17:36] p5150j commented on #143
stat.

[2017-11-12 22:15] #143 closed

[2018-02-09 01:27] davidbhayes opened #145 "Add Cohere as a partner"
Since they're donating space, it'd be good to add them as a partner

[2018-05-19 19:21] davidbhayes opened #146 "Increase padding on header menu"
<img width="1379" alt="screen shot 2018-05-19 at 1 20 42 pm" src="https://user-images.githubusercontent.com/2613891/40272233-8a9ba4c4-5b67-11e8-82ea-3bd8464de6b8.png">

[2018-05-19 19:22] #118 closed, assigned to nobody

[2018-05-19 19:32] davidbhayes commented on #111
I think we need to get some SEO expert to give us a guide. But I think getting listed on brigade.codeforamerica.org will help. I started that...

[2019-01-13 23:44] stevenabadie commented on #145
This was completed with 5088df8a and 96597d47

[2019-01-13 23:44] #145 closed

[2019-01-19 23:13] stevenabadie opened #148 "Merge Minutes into Blog"
I think for the sake of simplicity we should merge the Minutes posts into the Blog. It would make changes to the Blog page more active. At minimum we would have a post every other week for the meeting minutes. We could make the meeting minues an ongoing type of blog post alongside more traditional blog posts.

@davidbhayes thoughts?

[2019-01-22 00:02] stevenabadie commented on #148
Ah, forgot about minutes in org too. The ones I meant appear old in codeforfoco.org, http://codeforfoco.org/category/minutes/

[2019-01-23 15:11] davidbhayes commented on #148
Ah! Gotcha. Yah, either moving or hiding those is probably a good idea. They're definitely neither up to date or worth the prominence they currently have.

[2019-09-20 02:41] davidbhayes opened #152 "Integrate the best features of the "Volunteer" page from CFD"
Page: https://codefordenver.org/#/volunteer

What I like:

- FAQs specific to "I want to get involved"
- Design/layout of the page is thoughtful and unique (which isn't quite within scope)
- that may be it...

[2019-10-15 05:10] schillingjerrid commented on #112
I'd like to take a crack at this! Not sure if it is still of interest but I'll see what I can come up with.

[2019-10-25 21:32] abettermap commented on #112
@schillingjerrid thanks for taking a stab at this, gimme a holler if you get stuck.

[2019-10-27 16:14] schillingjerrid commented on #112
@abettermap The only one I need a screenshot for now is the bike coop. I have screenshots of the rest now.

[2019-10-28 18:23] abettermap commented on #112
What's up with the site URL? [This link](https://new.fcbikecoop.org/) redirects to [this site](https://isifc.org). It looks like the latter is hosted by Darlington (RADD Creative) so he'd probably be the one to contact.

[2019-11-08 15:57] davidbhayes opened #154 "Blog Posts Don't Appear on the Blog"
**What I want to have happen:**

Anything put in the /_posts/blog directory shows up on the page of the site labelled "blog"

**Misbehavior I'm seeing:**

I've got two posts https://github.com/CodeForFoco/codeforfoco.github.io/blob/master/_posts/blog/2019-10-03-fcx-version-1.md (for example) which aren't on the blog

**What I think the causes/problem is**

We're weirdly linking on the site to "blo

[2019-11-21 01:24] schillingjerrid commented on #154
I'll take this issue

[2019-11-21 18:35] davidbhayes commented on #154
Thanks @schillingjerrid! :)

[2020-01-08 00:23] #154 closed

[2020-01-08 00:31] davidbhayes opened #156 "Our blog should live at DOMAIN/blog not DOMAIN/category/blog"

[2020-01-08 00:33] davidbhayes commented on #68
Closing as old and not particularly effective as a way to find useful projects (given our current level of renown and scale)

[2020-01-08 00:33] #68 closed

[2020-01-08 00:34] davidbhayes commented on #47
Closing as misaligned with current priorities. (Our meeting space is covered by the library, and random donation drives have covered most of our on-going operational costs/desires.)

[2020-01-08 00:34] #47 closed

[2020-01-08 00:36] davidbhayes commented on #146
Closed as I must have finished this sometime in the last year without realizing it had an issue 🤓

[2020-01-08 00:36] #146 closed

[2020-01-08 00:37] davidbhayes commented on #124
Closing as I no longer see the issue here 🤓

[2020-01-08 00:37] #124 closed

[2020-01-08 00:38] davidbhayes commented on #89
I don't think we're really seeking to receive project ideas this way any more, so I'll close this. Though it does remind me that we should publicly document *how* we're now looking to receive new project ideas. 🤓

[2020-01-08 00:38] #89 closed

[2020-01-08 00:39] davidbhayes opened #157 "Assure that the site clearly states (1) we're looking for projects and (2) how we'd like to recieve them"
Pretty much as it says: people should know that we're accepting new ideas, and that we'd like them to start by emailing people@codeforfoco.org or joining our Slack and starting a conversation about the idea in #general.

[2020-01-08 01:07] schillingjerrid commented on #156
I can take this one.

[2020-01-08 01:12] schillingjerrid commented on #157
I can take this one.

[2020-05-08 01:22] stevenabadie opened #159 "Make better documentation for adding content"

[2020-05-08 01:23] stevenabadie opened #160 "Add email list signup"
Maybe pop-up and add to templates

[2020-05-08 20:35] davidbhayes commented on #111
Closing as a bit unfocused and a far-less-urgent problem now 🤓

[2020-05-08 20:35] #111 closed

[2020-05-08 20:37] davidbhayes opened #161 "There should be a "Getting Started" page"
It'd mostly walk through the basics:

- Events are on Meetup
- Code is on GitHub
- Join the Slack
- Here are "roles" that you might be interested in, or make your own
- Thanks for being involved :)

[2020-05-08 20:40] davidbhayes opened #162 ""Unstarted Projects" and "Completed Projects" should be visibly disctinct from current ones"
Unsure if this is a new status of the existing "Project" content-type, or if it's a different thing where "completed projects" become "Case Studies". I'm leaning toward the first, but am open to the latter (I do think it would provide additional marketing value to better-customize pages based on content goals)

[2020-05-08 20:43] davidbhayes opened #163 ""Leadership team" page"
I think it'd be good if we added some faces to the site, and the mostly-likely-to-be-relevant version of that is that Captains (and anyone else who has adopted a "named role" who wants one) has their face and a brief bio on a single "Team" or "Leadership" and/or "Board" page.

(I especially I want images because it gives new people a "human" reference point for the whole thing, and a better chance

[2020-05-08 20:45] davidbhayes opened #164 "Do homepage/structure audit, make Issues for change (self-assigned task)"

[2020-08-09 20:14] stevenabadie opened #165 "Web analytics"
There is an existing google analytics code currently in the site but I'm not sure what google account that is associated with. With plans to put more effort in our digital presence it would be great to know which actions are making the most impact to getting more traffic to the site and conversions.

If this is currently going to an unknown account, maybe we can make an analytics account with the

[2020-08-14 19:07] stevenabadie opened #166 "http doesn't redirect to https"
Not sure if this is Github settings but making a note so I can look into this later

[2020-09-04 17:11] #165 closed

[2020-09-04 17:16] stevenabadie commented on #166
This is fixed. For reference, it was a setting in the repo Github pages settings that just needed to be turned on to force https.

![cffc_enforce_https](https://user-images.githubusercontent.com/42226506/92268643-012b1480-eea0-11ea-9aae-b51ee411d672.png)

[2020-09-04 17:16] #166 closed

[2020-11-06 01:49] stevenabadie opened #169 "Project suggestion form"
We could test gathering project ideas through a form on the website or through a third party form service. This would align with marketing efforts.

[2020-11-20 02:27] stevenabadie opened #170 "Landing page copy and content update"
https://docs.google.com/document/d/1nHsf1PqzqLOCdAS7OY7cTqHjwOD7jPJ_le5JGPSGec4/edit?usp=sharing

[2020-11-20 03:11] stevenabadie commented on #170
@tfischbach I dumped all of the current copy on the codeforfoco.org homepage into that google doc. Figured it would be good to get it out of the design to better understand what we're currently saying.